@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Play:wght@400;700&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Play', sans-serif; */

/*CSS GERAL*/
*{
    padding: 0;
    margin: 0;
}

:root {
    --backgroung-color: #1B1D20;
    --menu-color: #0E1013;
    --main-color: #f1f1f1;
    --second-color: #9536F6;
  }

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--backgroung-color) ;
    color: var(--main-color);

}

.titulo {
    text-align: center;
    color: var(--second-color);
    margin-bottom: 40px;
}

/*CSS MENU*/

#menu {
    background-color: var(--menu-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: fixed;
    width: 100%;
}

.menu-item {
    display: flex;
}

.menu-item > li {
    list-style: none;
    padding: 10px;
}

.menu-item > li > a {
    text-decoration: none;
    color: var(--second-color);
}

.menu-item > li > a:hover {
    color: var(--main-color);
}

/*CSS INTRO*/

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-bottom: 3px solid var(--menu-color);
}

.intro-container {
    width: 920px;
    display: flex;
}

.intro-conteudo {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-conteudo > h1 {
    color: var(--second-color);
    padding-bottom: 30px;
    font-size: 36px;
}

.intro-img {
    width: 60%;
}

.intro-img img {
    width: 100%;
    padding: 40px;
}

/*CSS SOBRE*/

#sobre {
    height: 80vh;
    padding-top: 20vh;
    padding-bottom: 10vh;
    border-bottom: 3px solid var(--menu-color);
}

.sobre-container {
    width: 920px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.sobre-img {
    width: 60%;
}

.sobre-conteudo {
    width: 40%;
}

.sobre-img img {
    width: 100%;
}

.sobre-conteudo > p {
    padding-left: 20px;
    line-height: 1.4;
}

/*CSS CURSOS*/
#cursos {
    height: 80vh;
    padding-top: 20vh;
    
}