@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*
    ESTILO GERAL
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    display: block;
}

video {
    width: 100%;
}

/*
    ESTILO HEADER
*/
header {
    background-color: #EF843A;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header > a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    font-size: 28px;
}

nav > input {
    padding: 5px 4px;
}

/*
    ESTILO SECTION .flex
*/

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 920px;
    margin: 0 auto;
}

.flex > article {
    flex: 1 1 200px;
    margin: 10px;
    border: 1px solid;
}

.flex > article > p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

/*
    ESTILO FOOTER
*/

footer {
    background-color: #323B3E;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/*
    ESTILO GERAL TELA DE DETALHE DO VÃDEO
*/

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container > article {
    display: flex;
    flex-direction: column;
}

.container > article > h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}